@charset "utf-8";

/* BASIC LAYOUT */
html { margin: 0; padding: 0; }
body {
	padding: 0;
	margin: 0;
	background: #ecedec;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
	color: #2f302d;
}

div#masthead {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#container {
	margin: 0 auto 0 auto;
	width: 980px;
	text-align: left;
	/* Dropshadow on the left and right sides of every page */
	background: url(images/bg_pageshadow.gif) repeat-y bottom center;
	padding: 0 6px 0 6px;
}
div#bottom-dropshadow {
	width: 988px;
	margin: 0 auto;
	background: url(images/bottom_dropshadow.png) no-repeat;
}

/* SITEWIDE LINKS */
a {
	color: #2e64a0;
}
a:hover, a:visited:hover {
	text-decoration: none;
	color: #4281bf;
}
a:visited {
	color: #0b3869;
}
/* MASTHEAD */
div#masthead a {
	font-size: 14px;
	color: #fff;
}

/* For clearing floats */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
ul.inlinelist, ul.inlinelist li, ul.inlinelist li a {
	display: inline;
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	.margin-right: 10px;
}
ul.inlinelist li:after {
	content: ", ";
}
ul.inlinelist li.last:after {
	content: " ";
}

/* VERY TOP BAR */
#topnav {
	background: #0c1208;
	padding: 4px 12px 2px 12px;
	font: 12px/14px 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
}
#topnav a:link, #topnav a:visited {
	color: #fff;
	font-weight: bold;
}
#topnav a:hover {
	color: #fff;
}

/* HEADER STYLES */
#masthead {
	height: 145px;
	background: #4281bf;
}

/* SITEWIDE BASIC STYLES */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.homepage-title {
	font-size: 24px;
}
.homepage-blurb {
	font-size: 18px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.small {
	font-size: 10px;
}
.gray {
	color: gray;
}
.newslistdate {
	display: block;
	color: gray;
	padding: 4px 0 0 0;
	font-size: 11px;
}
a.blacklink, a.blacklink:link, a.blacklink:visited, ul.blacklink a {
	color: #2f302d;
}
a.darkgraylink, a.darkgraylink:link, a.darkgraylink:visited {
	color: #485243;
}
a.blacklink:hover, a.darkgraylink:hover, ul.blacklink a:hover {
	color: #2e64a0;
}
#homepage-sidebar {
	width: 275px;
	float: left;
	padding-top:20px;
}
#topbreadcrumb {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #4281bf;
	background: url(images/breadcrumb_gradient.png) bottom repeat-x;
	padding: 12px 12px 10px 12px;
	_width: 743px;
}
#topbreadcrumb a:link, #topbreadcrumb a:visited {
	color: #4281bf;
}
#topbreadcrumb a.open:link, #topbreadcrumb a.open:visited {
	color: #35462C;
}
div#interior-body {
	width: 730px;
	padding: 18px 18px 30px 18px;
	float: left;
}
div#interior-sidebar {
	font: 13px/14px 'Trebuchet MS', Arial, sans-serif;
	width: 200px;
	margin: 10px 0 30px 0;
	border-left: 2px solid #e3eedc;
	padding: 5px 0 10px 10px;	
	float: left;
}
div#interior-sidebar h4 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #788A6E;
	margin: 0;
	padding: 5px 0 5px 0;
}
div#interior-sidebar ul {
	margin: 0;
	padding: 5px 0 5px 0;
	color: #2f302d;
}
div#interior-sidebar li {
	padding: 3px 0 3px 0;
}
div#interior-sidebar a:link, div#interior-sidebar a:visited {
	font-weight: bold;
	display: block;
}

/* homepage */
#homepage-body {
	float:left;
	padding:20px;
	width: 640px;
	_padding-right: 22px; /* IE6 */
}

#homepage-body h3 {
	border-bottom: 3px solid #e3eedc;
	padding: 5px 5px 6px 0;
	margin: 0 20px 15px 0;
	font-size: 18px;
	color: #485243;
	font-weight: normal;
}
.singlepagebottom {
	border-left: 2px solid #e3eedc;
	margin: 10px 0 0 0;
	padding: 5px 20px 5px 15px;
	color: #485243;
	font-size: 12px;
	line-height: 130%;
}

textarea {
	width: 300px;
	height: 100px;
	font-family: arial,sans-serif;
	font-size: small;
}
h2.newsheadline {
	clear: both;
}

/* FOOTER */
#footer {
	clear: both;
	background: #4281bf;
	margin: 0;
	padding: 12px 12px 6px 12px;
	font: 12px/14px 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	text-align: center;
	border-top: 6px solid #0c1208;
}
#footer a:link, #footer a:visited {
	color: #fff;
}
#footer a:hover {
	color: #fff;
}
#footer p {
	margin: 0;
	padding: 0 0 8px 0;
}
#footer ul {
	margin: 0;
	padding: 0 0 8px 0;
	list-style-type: none;
}
#footer ul li {
	display: inline;
	padding: 0 0 0 8px;
	margin: 0 0 0 5px;
	background: url(images/icon_tiny_pipe_white.gif) no-repeat left;
}
/* Omit icon_tiny_pipe_white.gif for the first item in the footer navigation */
#footer ul li:nth-of-type(1) {
	background: none;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
img.alignleft {
	margin: 0 5px 5px 0;
}
img.alignright {
	margin: 0 0 5px 5px;
}
/* survey */
form.wpcf7-form textarea {
	width: 300px;
	height: 30px;
}
form.wpcf7-form textarea.largertextarea {
	height: 100px;
}	
form.wpcf7-form label {
	font-weight: bold;
}
.wpcf7-mail-sent-ok {
	font-weight: bold;
	color: #4281bf;
}
.wpcf7-validation-errors {
	font-weight: bold;
	color: #8F1111;
}
/* WPAudio plugin (still used?) */
img.wpaudio-play {
	display: inline;
	float: left;
}
span.wpaudio-container {
	display: block !important;
	padding: 20px !important;	
}

/* DEVELOPMENT STYLES */
.redoutline {
	border:1px #f00 solid;
}
/* Fix CSS conflict between "Show Current Template" plugin and WordPress Toolbar (Admin bar) */
#wpadminbar .quicklinks .menupop ul li {
	float:left !important;
}
/* AddThis social media */
div.addthis_toolbox {
	padding:20px 0;
}
/* Custom bullet points and spacing */
#main.maininterior ul li,  #interior-sidebar ul li {
	margin: 2px 0 2px 2px;
	padding: 3px 5px 3px 10px;
	background: url(images/bluesquare_bullet.png) top left no-repeat;
}

/* Social media */
div#social-media-left {
	float:left;
}
div#social-media-left img {
	display:inline;
}
div#social-media-right {
	float:right;
}

/* Horizontal navbar */
table#navbar {
	width:100%;
	background-color: #4281bf;
	color: #fff;
	font-size:18px;
	/* Single pixel border across the top */
	border-top: 1px solid #fff;
	/* 12px border across the bottom */
	border-bottom: 12px solid #0c1208;
	/* Not sure why this is necessary but it avoids a border around the td cells */
	border-collapse: collapse;
}
/* Add a vertical divider after each button (except the last) */
table#navbar td {
	text-align: center;
	border-right: 1px #fff solid;
}
table#navbar td:last-child {
	border:0;
}
table#navbar td:hover, table#navbar td.current {
	background-color: #fff;
}
table#navbar td a {
	color: #fff;
	text-decoration: none;
	display:block;
	padding:10px 0;
}
table#navbar td:hover a, table#navbar td.current a {
	color: #4281bf; 
}
table#navbar td#home_icon {
	background-image: url('images/homeicon_white.png');
	background-repeat: no-repeat;
	background-position: center; 
}
table#navbar td#home_icon:hover, table#navbar td#home_icon.current {
	background-image: url('images/homeicon_blue.png');
}
/* END: Horizontal navbar */

/* Slider Revolution */
/* Black outline for captions */
.rev_slider_wrapper a.tp-caption {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	/* Maybe move this (and even the above?) to the Slider Revolution plugin? */
	text-decoration: none;
}
/* Invert caption text & outline colors on rollover */
.rev_slider_wrapper a.tp-caption:hover {
	color:#000 !important;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
/* White border along the top */
div.rev_slider_wrapper {
	border-top:1px #fff solid;
}
/* END: Slider Revolution */

/* Subscribe button - Modified based on CSS generated by http://buttonoptimizer.com */
a#subscribe-button {
    display: inline-block;
    text-align: center;
    vertical-align: top; /* Changed from: middle */;
    padding: 3px 4px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #4280bf;
    background: -webkit-gradient(linear, left top, left bottom, from(#4280bf), to(#4280bf));
    background: -moz-linear-gradient(top, #4280bf, #4280bf);
    background: linear-gradient(to bottom, #4280bf, #4280bf);
    font: normal normal normal 17px arial;
    color: #ffffff;
    text-decoration: none;
}
a#subscribe-button:hover,
a#subscribe-button:focus {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font: normal normal normal 17px arial;
    color: #4381bf;
    text-decoration: none;
}
a#subscribe-button:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 -4px -6px 4px;
    position: relative;
    top: -2px;
    left: -3px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABy0lEQVRIidXVv2sTYRgH8I8hg0gJEhwcRBzVUUJxkiKOuouISAeR4FDESURwEHGWItLJP0AcimJwKBIctOgm4qaDtkWKaCmxaKjD+6ZeL/deLnXyCw/Jve/3R3LPPe/xv2NXBc4kzuAY9se1ZbzFPF7vNPwkFrE5ohYxNY5xHXfRr2A+qD7uRG0papgbwzhfc9Ejias5wUascUJmUuaHsJ4jX8E+HMd1vK8QsI6DRQGzBeTLOU4dF7AyIuRe3nw3vibI37GANiYi/wDelASsRM8tTCaIT/AA7+L1J5yKmmZmvaha2YDzCdKluF+Lxh+Epp+N60cN921Q57IB7QRpHtNCo6GBl+gJkw23E9p2NmC65K9u4pvQXMJxsYRu5rpXoLmYDZhKGPfwUGjoL5yO/Bnb73OnQHsiG9DAWgHpVtyfwKowB4NfvYGb8fpGTrcWPbfG+geeGUYjfu4RZuCwMJDL+IIjcf9jTvc0em5Dy/AB18cL4fEcrC3gsTAfS3iEVzlNSwL3FfdinJpNmQ9uRfcfzLvRoxR78XwH5p2orYQarglPzijj1cgtfQ+k0BQmsoPPwlz04vdO3GuWGVR56Q9Q9/eE/InfVUR/AMseGpoebctkAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}
